@media screen and (max-width: 830px) {
    body {
        background-image: url(../../img/background-mobile.jpg)
    }


    .contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .navBar {
 
        justify-content: space-between;
    }

    .navBar_section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 350px;
        width: 100%;
    }

    .content{
        min-width: 350px;
    }

    .drink {
        gap: 10px;
    }





    
.filter_btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-width: 350px;
    margin-bottom: 90px;
    gap: 15px;
    padding: 0px;
}
}