@media screen and (min-width: 830px) {

    .main_content{
        padding-top: 100px;
    }
    .navBar_section{
        padding: 10px;
    }
    .navbar_bars{
        display: none;
    }
    .logo {
        align-self: center;
    }
    .searchButton:hover{
        cursor: pointer;
    }

    #drinks li:hover {
        color: red;
        transform: scale(1.1);
        text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
        z-index: 0;
    }

    
    #drinks li:hover > *:nth-child(2) {
        box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    }
    #btn_bar{
        display: none !important;
    }
    #btn_bar2{
        display: none !important;
    }
    .links:hover {
        cursor: pointer;
        color: red;
        transform: scale(1.2);
    }
    .filter_btn{
        gap: 5px;
    }
}